<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>
</head>

<body>

  <% include ./partials/navbar.ejs %>

    <main class="container" style="margin-top: 70px;">

      <header class="jumbotron my-4">
        <h1 class="display-3">Welcome to Blocipedia</h1>
        <p class="lead">An application for users to create, collaborate and share wikis.</p>
        <a href="/users/sign_up" class="btn btn-primary btn-lg">Sign up</a>
      </header>

      <section class="row text-center">

        <section class="col-lg-4">
          <h4 class="card-title">Create</h4>
          <p class="card-text">Produce your own content.</p>
        </section>

        <section class="col-lg-4">
          <h4 class="card-title">Collaborate</h4>
          <p class="card-text">Work together on a wiki!</p>
        </section>

        <section class="col-lg-4">
          <h4 class="card-title">Share</h4>
          <p class="card-text">Share interesting wikis with others.</p>
        </section>

      </section>

    </main>

    <% include ./partials/baseScripts.ejs %>
</body>

</html>
