<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>
</head>

<body>

  <% include ./partials/navbar.ejs %>

  <main class="container">
  <% include ../static/partials/messages.ejs %>

    <header class="jumbotron my-4">
      <h1 class="display-3">Welcome to Blocipedia</h1>
      <p class="lead">An application where users can create, collaborate, and share wikis.</p>
    </header>
</main>


    <% include ./partials/baseScripts.ejs %>
</body>

</html>
