<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../static/partials/head.ejs %>
</head>
  <style>
    body {
      padding-top: 40px;
    }
    h1 {
      padding-top: 40px;
    }
    h2 {
      padding-top: 40px;
    }
  </style>

<body>

  <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>

        <h1>
          Thank you for upgrading, you've been charged $15.00! Enjoy creating private wikis!
        </h1>

    </main>
    <% include ../static/partials/baseScripts.ejs %>
</body>

</html>
