<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>

  <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>

        <h1>
          Thank you for upgrading, you've been charged $13.00! Go on being Premium!
        </h1>

    </main>
    <% include ../static/partials/baseScripts.ejs %>
</body>

</html>
