<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../static/partials/head.ejs %>
</head>

<style>
  body {
    padding-top: 40px;
  }
  h1 {
  padding-top: 40px;
}
h2 {
  padding-top: 40px;
}
</style>

<body>
  <% include ../static/partials/navbar.ejs %>
    <main class="container">
      <% include ../static/partials/messages.ejs %>
        <% if(currentUser && currentUser.role == "member") { %>
          <h1>Become a premium member!</h1>
          <h1>Only $15!</h1>
            <ul>
              <li>Create private wikis!</li>
              <li>Collaborate with other private members!</li>
            </ul>
            <form action="/users/<%=currentUser.id%>/upgrade" method="POST">
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%=publishableKey%>" data-amount="1500" data-name="Demo Site" data-description="Blocipedia Premium Membership" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
              </script>
            </form>
            <% } %>
              <% if(currentUser && currentUser.role == "premium") { %>
                <h1>Are you sure you want to downgrade?</h1>
                  <h2>You will miss out on being a Premium user and use private wikis!</h2>
                  <form action="/users/<%=currentUser.id%>/downgrade" method="POST">
                    <button type="submit" class="btn btn-danger">Downgrade My Account</button>
                  </form>
                  <% } %>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>
